@font-face {
  font-family: "TTHoves";
  src: url("../fonts/TTHoves-Regular.woff2") format("woff2"), url("../fonts/TTHoves-Regular.woff") format("woff"), url("../fonts/TTHoves-Regular.ttf") format("ttf"), url("../fonts/TTHoves-Regular.eot") format("eot");
  font-weight: 400;
}
@font-face {
  font-family: "Audiowide";
  src: url("../fonts/Audiowide-Regular.woff") format("woff"), url("../fonts/Audiowide-Regular.ttf") format("ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium.ttf") format("ttf");
  font-weight: 500;
}
.light {
  --light-bg: rgba(241, 243, 244, 1);
  --unit-bg: rgba(255, 255, 255, 1);
  --highlight-primary: rgba(123, 87, 224, 1);
  --base-primary: rgba(43, 46, 72, 1);
  --base-secondary: rgba(125, 125, 125, 1);
  --error: rgba(199, 16, 38, 1);
  --success: rgba(11, 138, 0, 1);
  --btn-bg: rgba(230, 229, 249, 1);
  --origin-color: rgba(0, 0, 0, 1);
  --menu-item: rgba(43, 46, 72, 1);
  --unit-bg2: rgba(243, 242, 252, 1);
  --additional: rgba(249, 131, 124, 1);
  --search-border: rgba(220, 220, 221, 1);
  --search-bg: rgba(255, 255, 255, 1);
  --search-icon: rgba(125, 125, 125, 1);
  --avatar-shadow: rgba(230, 229, 249, 1);
  --chip-success: rgba(11, 138, 0, 0.15);
  --chip-error: rgba(199, 16, 38, 0.15);
  --light-green: rgba(80, 192, 153, 1);
  --light-blue: rgba(93, 170, 238, 1);
  --light-yellow: rgba(255, 197, 101, 1);
  --select: rgba(241, 243, 244, 1);
  --select-text: rgba(43, 46, 72, 1);
  --is-tooday: rgba(43, 46, 72, 1);
  --is-tooday-text: rgba(255, 255, 255, 1);
  --btn-border: rgba(220, 220, 221, 1);
  --scroll-bar: rgb(166, 166, 166);
}

.dark {
  --light-bg: rgba(13, 15, 17, 1);
  --unit-bg: rgba(25, 29, 35, 1);
  --highlight-primary: rgba(123, 87, 224, 1);
  --base-primary: rgba(227, 227, 227, 1);
  --base-secondary: rgba(184, 192, 204, 1);
  --error: rgba(245, 59, 48, 1);
  --success: rgba(42, 163, 31, 1);
  --btn-bg: rgba(25, 29, 35, 1);
  --origin-color: rgba(255, 255, 255, 1);
  --menu-item: rgba(184, 192, 204, 1);
  --unit-bg2: rgba(38, 44, 54, 1);
  --additional: rgba(249, 131, 124, 1);
  --search-border: rgba(38, 44, 54, 1);
  --search-bg: rgba(38, 44, 54, 1);
  --search-icon: rgba(87, 103, 118, 1);
  --avatar-shadow: rgba(184, 192, 204, 1);
  --chip-success: rgba(42, 163, 31, 0.15);
  --chip-error: rgba(245, 59, 48, 0.15);
  --light-green: rgba(71, 167, 133, 1);
  --light-blue: rgba(83, 149, 207, 1);
  --light-yellow: rgba(239, 176, 71, 1);
  --select: rgba(38, 44, 54, 1);
  --select-text: rgba(184, 192, 204, 1);
  --is-tooday: rgba(38, 44, 54, 1);
  --is-tooday-text: rgba(227, 227, 227, 1);
  --btn-border: rgba(87, 103, 118, 1);
  --scroll-bar: rgb(85, 85, 85);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "TTHoves", sans-serif;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.grid {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 1fr;
  background-color: var(--light-bg);
  transition: grid-template-columns 0.5s ease-in-out;
}
.grid.min {
  grid-template-columns: 80px 1fr;
}

.sidebar {
  position: relative;
  background-color: var(--unit-bg);
  padding: 20px 0 30px;
  display: flex;
  flex-direction: column;
}
.sidebar .minimized {
  position: absolute;
  display: flex;
  width: 40px;
  height: 40px;
  top: 20px;
  right: -20px;
  padding: 6px;
  border: 3px solid var(--light-bg);
  border-radius: 50%;
  background: var(--btn-bg);
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}
.sidebar .minimized svg {
  display: block;
  margin: auto;
}
.sidebar .side-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 48px;
}
.sidebar .side-header .svg {
  display: block;
}
.sidebar .side-header .logo {
  width: 113.4px;
  font-family: "Audiowide", serif;
  color: var(--origin-color);
  font-size: 30px;
  line-height: 100%;
  padding-left: 11px;
  overflow: hidden;
  transition: width 0.5s ease-in-out;
}
.sidebar .menu:last-child {
  margin-top: auto;
  padding-top: 15px;
}
.sidebar .menu .menu-item {
  display: flex;
  align-items: center;
  padding: 15px 20px 15px 45px;
  transition: padding 0.5s ease-in-out;
  cursor: pointer;
}
.sidebar .menu .menu-item:not(:last-child) {
  margin-bottom: 15px;
}
.sidebar .menu .menu-item.active {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 19.708 101' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M-0.00135422 11.8054C-0.00135422 9.62855 -1.76607 7.86383 -3.94296 7.86383L-3.94296 7.86383C-6.11985 7.86383 -7.88457 9.62855 -7.88457 11.8054L-7.88457 33.1894C-7.88457 39.1705 -11.8262 44.8877 -11.8262 50.8688L-11.8262 50.8688L-11.8262 50.8688C-11.8262 56.8499 -7.88457 62.5671 -7.88457 68.5482L-7.88457 93.6181C-7.88457 95.795 -6.11985 97.5597 -3.94296 97.5597L-3.94296 97.5597C-1.76607 97.5597 -0.00135422 95.795 -0.00135422 93.6181L-0.00135422 79.7434C-0.00135422 69.9038 11.8235 60.7084 11.8235 50.8688L11.8235 50.8688C11.8235 50.1882 11.7577 49.522 11.6319 48.8754C9.94631 40.2162 -0.00135422 32.6589 -0.00135422 23.8371L-0.00135422 11.8054Z' fill='rgba(123, 87, 224, 1)' fill-rule='evenodd' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 20px;
}
.sidebar .menu .menu-item.active, .sidebar .menu .menu-item:hover {
  background-color: var(--unit-bg2);
}
.sidebar .menu .menu-item.active .icon svg, .sidebar .menu .menu-item:hover .icon svg {
  color: var(--highlight-primary);
}
.sidebar .menu .menu-item .icon {
  width: 24px;
  height: 24px;
}
.sidebar .menu .menu-item .icon svg {
  display: block;
  width: 100%;
  height: 100%;
  color: var(--menu-item);
}
.sidebar .menu .menu-item .title {
  width: 137px;
  padding: 0 10px;
  font-size: 16px;
  line-height: 100%;
  flex: 1;
  overflow: hidden;
  transition: width, padding 0.5s ease-in-out;
  color: var(--menu-item);
}
.sidebar .menu .menu-item .badge-block {
  width: 24px;
  height: 24px;
  transition: width 0.5s ease-in-out;
  overflow: hidden;
}
.sidebar .menu .menu-item .badge-block .badge {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  line-height: 24px;
  color: rgb(255, 255, 255);
  background: var(--additional);
}

.grid.min .sidebar .minimized {
  transform: rotate(-180deg);
}
.grid.min .sidebar .side-header .logo {
  width: 0;
}
.grid.min .sidebar .menu .menu-item {
  padding: 15px 28px;
}
.grid.min .sidebar .menu .menu-item .title {
  width: 0;
  padding: 0;
}
.grid.min .sidebar .menu .menu-item .badge-block {
  width: 0;
}

.main {
  padding: 0 24px 24px;
  height: 100vh;
  overflow-y: auto;
}
.main::-webkit-scrollbar {
  width: 8px;
}
.main::-webkit-scrollbar-track {
  background: var(--light-bg);
}
.main::-webkit-scrollbar-thumb {
  background-color: var(--scroll-bar);
  border-radius: 20px;
}

.header {
  position: sticky;
  top: 0;
  padding: 20px 24px;
  border-radius: 8px;
  background-color: var(--unit-bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 5px 2px var(--light-bg);
}
.header .search-block {
  position: relative;
  display: block;
  width: 300px;
  height: 40px;
}
.header .search-block input {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid var(--search-border);
  border-radius: 8px;
  background-color: var(--search-bg);
  outline: none;
  padding: 9px 9px 9px 38px;
  font-size: 14px;
  line-height: 20px;
  color: var(--base-primary);
}
.header .search-block input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  height: 19px;
  width: 19px;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 19 19' xmlns='http://www.w3.org/2000/svg' width='19.000000' height='19.000000' fill='none'%3E%3Cpath id='Vector' d='M13.8344 5.99687C14.0639 5.76733 14.0639 5.39517 13.8344 5.16562C13.6048 4.93608 13.2327 4.93608 13.0031 5.16563L9.5 8.66875L5.99687 5.16563C5.76733 4.93608 5.39517 4.93608 5.16562 5.16563C4.93608 5.39517 4.93608 5.76733 5.16562 5.99687L8.66875 9.5L5.16562 13.0031C4.93608 13.2327 4.93608 13.6048 5.16562 13.8344C5.39517 14.0639 5.76733 14.0639 5.99687 13.8344L9.5 10.3312L13.0031 13.8344C13.2327 14.0639 13.6048 14.0639 13.8344 13.8344C14.0639 13.6048 14.0639 13.2327 13.8344 13.0031L10.3312 9.5L13.8344 5.99687Z' fill='rgba(125, 125, 125, 1)' fill-rule='evenodd' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
.header .search-block input::placeholder {
  font-size: 14px;
  line-height: 20px;
  color: var(--base-secondary);
}
.header .search-block svg {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 9px;
  left: 9px;
  color: var(--search-icon);
}
.header .right-block {
  display: flex;
  align-items: center;
}
.header .right-block .theme {
  display: block;
  width: 24px;
  height: 24px;
  border: none;
  outline: none;
  background-color: transparent;
  margin-right: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
.header .right-block .notifications {
  position: relative;
  width: 24px;
  height: 24px;
  margin-right: 24px;
}
.header .right-block .notifications.active::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--additional);
  box-shadow: 0 0 0 3px var(--unit-bg);
}
.header .right-block .notifications svg {
  display: block;
  width: 100%;
  height: 100%;
  color: var(--base-secondary);
}
.header .right-block .avatar {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: contain;
  box-shadow: 0 0 0 2px var(--avatar-shadow);
}
.header .right-block .name-block {
  margin-left: 15px;
}
.header .right-block .name-block .name {
  font-size: 14px;
  line-height: 100%;
  margin-bottom: 2px;
  color: var(--base-primary);
}
.header .right-block .name-block .email {
  font-size: 10px;
  line-height: 100%;
  color: var(--base-secondary);
}

.card {
  padding: 24px;
  border-radius: 8px;
  background-color: var(--unit-bg);
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  margin: 24px 0;
}
.row .card {
  flex: 1;
}
.row .card .card-info {
  display: grid;
  grid-template-columns: 44px 1fr;
  grid-template-rows: auto auto;
  grid-gap: 5px 14px;
}
.row .card .card-info .card-icon {
  width: 44px;
  height: 44px;
  padding: 10px;
  border-radius: 50%;
  grid-column: 1/2;
  grid-row: 1/3;
}
.row .card .card-info .card-icon.purple {
  background-color: var(--highlight-primary);
}
.row .card .card-info .card-icon.green {
  background-color: var(--light-green);
}
.row .card .card-info .card-icon.blue {
  background-color: var(--light-blue);
}
.row .card .card-info .card-icon.yellow {
  background-color: var(--light-yellow);
}
.row .card .card-info .card-icon svg {
  display: block;
  width: 24px;
  height: 24px;
  color: rgb(255, 255, 255);
}
.row .card .card-info .card-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  color: var(--base-primary);
}
.row .card .card-info .card-value {
  font-size: 24px;
  font-weight: 500;
  line-height: 100%;
  color: var(--base-primary);
}
.row .card .card-link {
  margin-top: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.row .card .card-link .chip {
  padding: 3px 5px 3px 22px;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  background-repeat: no-repeat;
  background-position: 5px center;
  background-size: 14px 14px;
}
.row .card .card-link .chip.success {
  color: var(--success);
  background-color: var(--chip-success);
}
.row .card .card-link .chip.warning {
  color: var(--error);
  background-color: var(--chip-error);
}

.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  padding: 5px 24px 5px 12px;
  border-radius: 4px;
  border: none;
  outline: none;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  background-color: var(--select);
  color: var(--select-text);
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg' fill='none'%3E%3Cpath d='M0 8L4 4L0 0' fill-rule='nonzero' stroke='rgb(123,87,224)' stroke-linecap='round' stroke-linejoin='round' stroke-width='1' transform='matrix(1.92554e-16,1,-1,1.92554e-16,12,6)'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: calc(100% - 4px) center;
  background-size: 16px 16px;
}

.main-grid {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 1fr;
  grid-gap: 24px;
}
.main-grid .card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-grid .card-header .header-title {
  font-size: 21px;
  font-weight: 500;
  line-height: 100%;
  color: var(--base-primary);
}
.main-grid .analytic-block {
  margin-top: 16px;
  height: 360px;
}
.main-grid .calendar {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 0;
}
.main-grid .calendar .calendar-title {
  font-size: 21px;
  font-weight: 500;
  line-height: 100%;
  color: var(--base-primary);
}
.main-grid .calendar .calendar-header {
  margin-top: 8px;
  display: flex;
  align-items: center;
}
.main-grid .calendar .calendar-header .date-name {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: var(--base-secondary);
}
.main-grid .calendar .calendar-header .is-today {
  display: block;
  padding: 3px 7px;
  margin-left: 8px;
  border-radius: 300px;
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;
  background-color: var(--is-tooday);
  color: var(--is-tooday-text);
}
.main-grid .calendar .calendar-header .button-block {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 8px;
}
.main-grid .calendar .calendar-header .button-block .left-btn, .main-grid .calendar .calendar-header .button-block .right-btn {
  display: block;
  width: 24px;
  height: 24px;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.main-grid .calendar .message-block {
  margin-top: 20px;
}
.main-grid .calendar .message-block .message-item {
  position: relative;
  padding: 10px 15px;
  border-radius: 4px;
  border: 1px solid var(--btn-border);
}
.main-grid .calendar .message-block .message-item:not(:last-child) {
  margin-bottom: 12px;
}
.main-grid .calendar .message-block .message-item:before {
  content: "";
  display: block;
  position: absolute;
  left: -1px;
  top: -1px;
  bottom: -1px;
  width: 4px;
  border-radius: 4px 0 0 4px;
}
.main-grid .calendar .message-block .message-item.purple:before {
  background-color: var(--highlight-primary);
}
.main-grid .calendar .message-block .message-item.green:before {
  background-color: var(--light-green);
}
.main-grid .calendar .message-block .message-item.blue:before {
  background-color: var(--light-blue);
}
.main-grid .calendar .message-block .message-item.yellow:before {
  background-color: var(--light-yellow);
}
.main-grid .calendar .message-block .message-item .message-title {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: var(--base-primary);
}
.main-grid .calendar .message-block .message-item .message-time {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  margin-top: 5px;
  color: var(--base-secondary);
}
.main-grid .calendar .calendar-footer {
  position: relative;
  margin-top: auto;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-grid .calendar .calendar-footer::after {
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  left: -24px;
  width: calc(100% + 48px);
  height: 2px;
  background-color: var(--light-bg);
}

.orders {
  margin-top: 24px;
}
.orders .orders-title {
  font-size: 21px;
  font-weight: 500;
  line-height: 25px;
  color: var(--base-primary);
}
.orders .orders-table {
  width: 100%;
  margin-top: 24px;
  border-collapse: collapse;
}
.orders .orders-table thead {
  background-color: var(--select);
}
.orders .orders-table thead th {
  padding: 15px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: var(--base-secondary);
}
.orders .orders-table tbody tr:not(:last-child) {
  border-bottom: 1px solid var(--btn-border);
}
.orders .orders-table tbody tr td {
  padding: 16px 14px;
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: var(--base-primary);
}
.orders .orders-table tbody tr td .status {
  display: block;
  position: relative;
  padding-left: 16px;
}
.orders .orders-table tbody tr td .status::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: calc(50% - 4px);
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
.orders .orders-table tbody tr td .status.pend::before {
  background-color: var(--light-yellow);
}
.orders .orders-table tbody tr td .status.credit::before {
  background-color: var(--success);
}

.link {
  display: block;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: rgb(123, 87, 224);
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none'%3E%3Cpath d='M6 12L10 8L6 4' fill-rule='nonzero' stroke='rgb(123,87,224)' stroke-linecap='round' stroke-linejoin='round' stroke-width='1' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 16px 16px;
  padding-right: 24px;
  cursor: pointer;
}

.dark .main .header .right-block .theme {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' fill='none'%3E%3Cpath d='M20 12L17.8 10.4L18.9 8L16.2 7.8L16 5.1L13.6 6.2L12 4L10.4 6.2L8 5.1L7.8 7.8L5.1 8L6.2 10.4L4 12L6.2 13.6L5.1 16L7.8 16.2L8 18.9L10.4 17.8L12 20L13.6 17.8L16 18.9L16.2 16.2L18.9 16L17.8 13.6L20 12ZM12 17C9.2 17 7 14.8 7 12C7 9.2 9.2 7 12 7C14.8 7 17 9.2 17 12C17 14.8 14.8 17 12 17Z' fill='rgba(184, 192, 204, 1)' fill-rule='evenodd' /%3E%3C/svg%3E");
}
.dark .main .row .card .card-link .chip.success {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 14 14' xmlns='http://www.w3.org/2000/svg' width='14' height='14' fill='none'%3E%3Cpath d='M5.83334 6.07482L8.16667 8.40816L11.4958 5.07907L12.8333 6.41666L12.8333 2.91666L9.33333 2.91666L10.6709 4.25424L8.16667 6.75849L5.83334 4.42516L1.33759 8.92091L2.16242 9.74574L5.83334 6.07482Z' fill='rgba(42, 163, 31, 1)' fill-rule='nonzero'/%3E%3C/svg%3E");
}
.dark .main .row .card .card-link .chip.warning {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 14 14' xmlns='http://www.w3.org/2000/svg' width='14' height='14' fill='none'%3E%3Cpath d='M5.83334 6.07482L8.16667 8.40816L11.4958 5.07907L12.8333 6.41666L12.8333 2.91666L9.33333 2.91666L10.6709 4.25424L8.16667 6.75849L5.83334 4.42516L1.33759 8.92091L2.16242 9.74574L5.83334 6.07482Z' fill='rgba(245, 59, 48, 1)' fill-rule='nonzero' transform='translate(0,14) scale(1,-1)'/%3E%3C/svg%3E");
}

.light .main .header .right-block .theme {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' fill='none'%3E%3Cpath d='M17.2 15.9C12.7 15.9 9.1 12.3 9.1 7.8C9.1 6.4 9.4 5.1 10 4C6.6 4.9 4 8.1 4 11.9C4 16.4 7.6 20 12.1 20C15.2 20 17.9 18.2 19.3 15.6C18.7 15.8 18 15.9 17.2 15.9L17.2 15.9ZM12.1 19C8.2 19 5 15.8 5 11.9C5 9.4 6.3 7.2 8.3 5.9C8.1 6.5 8.1 7.1 8.1 7.8C8.1 12.8 12.2 16.9 17.2 17C15.8 18.2 14 19 12.1 19Z' fill='rgba(125, 125, 125, 1)' fill-rule='evenodd' /%3E%3C/svg%3E");
}
.light .main .row .card .card-link .chip.success {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 14 14' xmlns='http://www.w3.org/2000/svg' width='14' height='14' fill='none'%3E%3Cpath d='M5.83334 6.07482L8.16667 8.40816L11.4958 5.07907L12.8333 6.41666L12.8333 2.91666L9.33333 2.91666L10.6709 4.25424L8.16667 6.75849L5.83334 4.42516L1.33759 8.92091L2.16242 9.74574L5.83334 6.07482Z' fill='rgba(11, 138, 0, 1)' fill-rule='nonzero'/%3E%3C/svg%3E");
}
.light .main .row .card .card-link .chip.warning {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 14 14' xmlns='http://www.w3.org/2000/svg' width='14' height='14' fill='none'%3E%3Cpath d='M5.83334 6.07482L8.16667 8.40816L11.4958 5.07907L12.8333 6.41666L12.8333 2.91666L9.33333 2.91666L10.6709 4.25424L8.16667 6.75849L5.83334 4.42516L1.33759 8.92091L2.16242 9.74574L5.83334 6.07482Z' fill='rgba(199, 16, 38, 1)' fill-rule='nonzero' transform='translate(0,14) scale(1,-1)'/%3E%3C/svg%3E");
}

/*# sourceMappingURL=style.css.map */
