@font-face {
  font-family: "TTHoves";
  src: url("../fonts/TTHoves-Regular.woff2") format("woff2"),
  url("../fonts/TTHoves-Regular.woff") format("woff"),
  url("../fonts/TTHoves-Regular.ttf") format("ttf"),
  url("../fonts/TTHoves-Regular.eot") format("eot");
  font-weight: 400;
}

@font-face {
  font-family: "Audiowide";
  src: url("../fonts/Audiowide-Regular.woff") format("woff"),
  url("../fonts/Audiowide-Regular.ttf") format("ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.woff2") format("woff2"),
  url("../fonts/Inter-Medium.ttf") format("ttf");
  font-weight: 500;
}