.main {
  padding: 0 24px 24px;
  height: 100vh;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: var(--light-bg);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--scroll-bar);
    border-radius: 20px;
  }
}

.header {
  position: sticky;
  top: 0;
  padding: 20px 24px;
  border-radius: 8px;
  background-color: var(--unit-bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 5px 2px var(--light-bg);

  .search-block {
    position: relative;
    display: block;
    width: 300px;
    height: 40px;

    input {
      display: block;
      width: 100%;
      height: 100%;
      border: 1px solid var(--search-border);
      border-radius: 8px;
      background-color: var(--search-bg);
      outline: none;
      padding: 9px 9px 9px 38px;
      font-size: 14px;
      line-height: 20px;
      color: var(--base-primary);

      &::-webkit-search-cancel-button {
        -webkit-appearance: none;
        appearance: none;
        height: 19px;
        width: 19px;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 19 19' xmlns='http://www.w3.org/2000/svg' width='19.000000' height='19.000000' fill='none'%3E%3Cpath id='Vector' d='M13.8344 5.99687C14.0639 5.76733 14.0639 5.39517 13.8344 5.16562C13.6048 4.93608 13.2327 4.93608 13.0031 5.16563L9.5 8.66875L5.99687 5.16563C5.76733 4.93608 5.39517 4.93608 5.16562 5.16563C4.93608 5.39517 4.93608 5.76733 5.16562 5.99687L8.66875 9.5L5.16562 13.0031C4.93608 13.2327 4.93608 13.6048 5.16562 13.8344C5.39517 14.0639 5.76733 14.0639 5.99687 13.8344L9.5 10.3312L13.0031 13.8344C13.2327 14.0639 13.6048 14.0639 13.8344 13.8344C14.0639 13.6048 14.0639 13.2327 13.8344 13.0031L10.3312 9.5L13.8344 5.99687Z' fill='rgba(125, 125, 125, 1)' fill-rule='evenodd' /%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
      }

      &::placeholder {
        font-size: 14px;
        line-height: 20px;
        color: var(--base-secondary);
      }
    }

    svg {
      display: block;
      width: 20px;
      height: 20px;
      position: absolute;
      top: 9px;
      left: 9px;
      color: var(--search-icon);
    }
  }

  .right-block {
    display: flex;
    align-items: center;

    .theme {
      display: block;
      width: 24px;
      height: 24px;
      border: none;
      outline: none;
      background-color: transparent;
      margin-right: 24px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      cursor: pointer;
    }

    .notifications {
      position: relative;
      width: 24px;
      height: 24px;
      margin-right: 24px;

      &.active::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: var(--additional);
        box-shadow: 0 0 0 3px var(--unit-bg);
      }

      svg {
        display: block;
        width: 100%;
        height: 100%;
        color: var(--base-secondary);
      }
    }

    .avatar {
      display: block;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: contain;
      box-shadow: 0 0 0 2px var(--avatar-shadow);
    }

    .name-block {
      margin-left: 15px;

      .name {
        font-size: 14px;
        line-height: 100%;
        margin-bottom: 2px;
        color: var(--base-primary);
      }

      .email {
        font-size: 10px;
        line-height: 100%;
        color: var(--base-secondary);
      }
    }
  }
}

.card {
  padding: 24px;
  border-radius: 8px;
  background-color: var(--unit-bg);
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  margin: 24px 0;

  .card {
    flex: 1;

    .card-info {
      display: grid;
      grid-template-columns: 44px 1fr;
      grid-template-rows: auto auto;
      grid-gap: 5px 14px;

      .card-icon {
        width: 44px;
        height: 44px;
        padding: 10px;
        border-radius: 50%;
        grid-column: 1 / 2;
        grid-row: 1 / 3;

        &.purple {
          background-color: var(--highlight-primary);
        }

        &.green {
          background-color: var(--light-green);
        }

        &.blue {
          background-color: var(--light-blue);
        }

        &.yellow {
          background-color: var(--light-yellow);
        }

        svg {
          display: block;
          width: 24px;
          height: 24px;
          color: rgb(255, 255, 255);
        }
      }

      .card-title {
        font-size: 16px;
        font-weight: 500;
        line-height: 100%;
        color: var(--base-primary);
      }

      .card-value {
        font-size: 24px;
        font-weight: 500;
        line-height: 100%;
        color: var(--base-primary);
      }
    }

    .card-link {
      margin-top: 35px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .chip {
        padding: 3px 5px 3px 22px;
        border-radius: 50px;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        background-repeat: no-repeat;
        background-position: 5px center;
        background-size: 14px 14px;

        &.success {
          color: var(--success);
          background-color: var(--chip-success);
        }

        &.warning {
          color: var(--error);
          background-color: var(--chip-error);
        }
      }
    }
  }
}

.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  padding: 5px 24px 5px 12px;
  border-radius: 4px;
  border: none;
  outline: none;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  background-color: var(--select);
  color: var(--select-text);
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg' fill='none'%3E%3Cpath d='M0 8L4 4L0 0' fill-rule='nonzero' stroke='rgb(123,87,224)' stroke-linecap='round' stroke-linejoin='round' stroke-width='1' transform='matrix(1.92554e-16,1,-1,1.92554e-16,12,6)'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: calc(100% - 4px) center;
  background-size: 16px 16px;
}

.main-grid {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 1fr;
  grid-gap: 24px;

  .card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header-title {
      font-size: 21px;
      font-weight: 500;
      line-height: 100%;
      color: var(--base-primary);
    }
  }

  .analytic-block {
    margin-top: 16px;
    height: 360px;
  }

  .calendar {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-bottom: 0;

    .calendar-title {
      font-size: 21px;
      font-weight: 500;
      line-height: 100%;
      color: var(--base-primary);
    }

    .calendar-header {
      margin-top: 8px;
      display: flex;
      align-items: center;

      .date-name {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        color: var(--base-secondary);
      }

      .is-today {
        display: block;
        padding: 3px 7px;
        margin-left: 8px;
        border-radius: 300px;
        font-size: 10px;
        font-weight: 500;
        line-height: 12px;
        background-color: var(--is-tooday);
        color: var(--is-tooday-text);
      }

      .button-block {
        margin-left: auto;
        display: flex;
        align-items: center;
        gap: 8px;

        .left-btn, .right-btn {
          display: block;
          width: 24px;
          height: 24px;
          outline: none;
          border: none;
          background-color: transparent;
          cursor: pointer;
        }
      }
    }

    .message-block {
      margin-top: 20px;

      .message-item {
        position: relative;
        padding: 10px 15px;
        border-radius: 4px;
        border: 1px solid var(--btn-border);

        &:not(:last-child) {
          margin-bottom: 12px;
        }

        &:before {
          content: '';
          display: block;
          position: absolute;
          left: -1px;
          top: -1px;
          bottom: -1px;
          width: 4px;
          border-radius: 4px 0 0 4px;
        }

        &.purple:before {
          background-color: var(--highlight-primary);
        }

        &.green:before {
          background-color: var(--light-green);
        }

        &.blue:before {
          background-color: var(--light-blue);
        }

        &.yellow:before {
          background-color: var(--light-yellow);
        }

        .message-title {
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
          color: var(--base-primary);
        }

        .message-time {
          font-size: 12px;
          font-weight: 400;
          line-height: 14px;
          margin-top: 5px;
          color: var(--base-secondary);
        }
      }
    }

    .calendar-footer {
      position: relative;
      margin-top: auto;
      padding: 15px;
      display: flex;
      align-items: center;
      justify-content: center;

      &::after {
        content: '';
        display: block;
        position: absolute;
        top: -2px;
        left: -24px;
        width: calc(100% + 48px);
        height: 2px;
        background-color: var(--light-bg);
      }
    }
  }
}

.orders {
  margin-top: 24px;

  .orders-title {
    font-size: 21px;
    font-weight: 500;
    line-height: 25px;
    color: var(--base-primary);
  }

  .orders-table {
    width: 100%;
    margin-top: 24px;
    border-collapse: collapse;

    thead {
      background-color: var(--select);

      th {
        padding: 15px;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;
        color: var(--base-secondary);
      }
    }

    tbody {

      tr {
        &:not(:last-child) {
          border-bottom: 1px solid var(--btn-border);
        }

        td {
          padding: 16px 14px;
          text-align: left;
          font-size: 16px;
          font-weight: 400;
          line-height: 19px;
          color: var(--base-primary);

          .status {
            display: block;
            position: relative;
            padding-left: 16px;

            &::before {
              content: '';
              display: block;
              position: absolute;
              left: 0;
              top: calc(50% - 4px);
              width: 8px;
              height: 8px;
              border-radius: 50%;
            }

            &.pend::before {
              background-color: var(--light-yellow);
            }

            &.credit::before {
              background-color: var(--success);
            }
          }
        }
      }
    }
  }
}

.link {
  display: block;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(123, 87, 224, 1);
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none'%3E%3Cpath d='M6 12L10 8L6 4' fill-rule='nonzero' stroke='rgb(123,87,224)' stroke-linecap='round' stroke-linejoin='round' stroke-width='1' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 16px 16px;
  padding-right: 24px;
  cursor: pointer;
}

.dark .main {
  .header .right-block .theme {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' fill='none'%3E%3Cpath d='M20 12L17.8 10.4L18.9 8L16.2 7.8L16 5.1L13.6 6.2L12 4L10.4 6.2L8 5.1L7.8 7.8L5.1 8L6.2 10.4L4 12L6.2 13.6L5.1 16L7.8 16.2L8 18.9L10.4 17.8L12 20L13.6 17.8L16 18.9L16.2 16.2L18.9 16L17.8 13.6L20 12ZM12 17C9.2 17 7 14.8 7 12C7 9.2 9.2 7 12 7C14.8 7 17 9.2 17 12C17 14.8 14.8 17 12 17Z' fill='rgba(184, 192, 204, 1)' fill-rule='evenodd' /%3E%3C/svg%3E");
  }

  .row .card .card-link .chip {

    &.success {
      background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 14 14' xmlns='http://www.w3.org/2000/svg' width='14' height='14' fill='none'%3E%3Cpath d='M5.83334 6.07482L8.16667 8.40816L11.4958 5.07907L12.8333 6.41666L12.8333 2.91666L9.33333 2.91666L10.6709 4.25424L8.16667 6.75849L5.83334 4.42516L1.33759 8.92091L2.16242 9.74574L5.83334 6.07482Z' fill='rgba(42, 163, 31, 1)' fill-rule='nonzero'/%3E%3C/svg%3E");
    }

    &.warning {
      background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 14 14' xmlns='http://www.w3.org/2000/svg' width='14' height='14' fill='none'%3E%3Cpath d='M5.83334 6.07482L8.16667 8.40816L11.4958 5.07907L12.8333 6.41666L12.8333 2.91666L9.33333 2.91666L10.6709 4.25424L8.16667 6.75849L5.83334 4.42516L1.33759 8.92091L2.16242 9.74574L5.83334 6.07482Z' fill='rgba(245, 59, 48, 1)' fill-rule='nonzero' transform='translate(0,14) scale(1,-1)'/%3E%3C/svg%3E");
    }
  }
}

.light .main {
  .header .right-block .theme {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' fill='none'%3E%3Cpath d='M17.2 15.9C12.7 15.9 9.1 12.3 9.1 7.8C9.1 6.4 9.4 5.1 10 4C6.6 4.9 4 8.1 4 11.9C4 16.4 7.6 20 12.1 20C15.2 20 17.9 18.2 19.3 15.6C18.7 15.8 18 15.9 17.2 15.9L17.2 15.9ZM12.1 19C8.2 19 5 15.8 5 11.9C5 9.4 6.3 7.2 8.3 5.9C8.1 6.5 8.1 7.1 8.1 7.8C8.1 12.8 12.2 16.9 17.2 17C15.8 18.2 14 19 12.1 19Z' fill='rgba(125, 125, 125, 1)' fill-rule='evenodd' /%3E%3C/svg%3E");
  }

  .row .card .card-link .chip {

    &.success {
      background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 14 14' xmlns='http://www.w3.org/2000/svg' width='14' height='14' fill='none'%3E%3Cpath d='M5.83334 6.07482L8.16667 8.40816L11.4958 5.07907L12.8333 6.41666L12.8333 2.91666L9.33333 2.91666L10.6709 4.25424L8.16667 6.75849L5.83334 4.42516L1.33759 8.92091L2.16242 9.74574L5.83334 6.07482Z' fill='rgba(11, 138, 0, 1)' fill-rule='nonzero'/%3E%3C/svg%3E");
    }

    &.warning {
      background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 14 14' xmlns='http://www.w3.org/2000/svg' width='14' height='14' fill='none'%3E%3Cpath d='M5.83334 6.07482L8.16667 8.40816L11.4958 5.07907L12.8333 6.41666L12.8333 2.91666L9.33333 2.91666L10.6709 4.25424L8.16667 6.75849L5.83334 4.42516L1.33759 8.92091L2.16242 9.74574L5.83334 6.07482Z' fill='rgba(199, 16, 38, 1)' fill-rule='nonzero' transform='translate(0,14) scale(1,-1)'/%3E%3C/svg%3E");
    }
  }
}