.sidebar {
  position: relative;
  background-color: var(--unit-bg);
  padding: 20px 0 30px;
  display: flex;
  flex-direction: column;

  .minimized {
    position: absolute;
    display: flex;
    width: 40px;
    height: 40px;
    top: 20px;
    right: -20px;
    padding: 6px;
    border: 3px solid var(--light-bg);
    border-radius: 50%;
    background: var(--btn-bg);
    cursor: pointer;
    transition: transform .5s ease-in-out;

    svg {
      display: block;
      margin: auto;
    }
  }

  .side-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 48px;

    .svg {
      display: block;
    }

    .logo {
      width: 113.4px;
      font-family: "Audiowide", serif;
      color: var(--origin-color);
      font-size: 30px;
      line-height: 100%;
      padding-left: 11px;
      overflow: hidden;
      transition: width .5s ease-in-out;
    }
  }

  .menu {

    &:last-child {
      margin-top: auto;
      padding-top: 15px;
    }

    .menu-item {
      display: flex;
      align-items: center;
      padding: 15px 20px 15px 45px;
      transition: padding .5s ease-in-out;
      cursor: pointer;

      &:not(:last-child) {
        margin-bottom: 15px;
      }

      &.active {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 19.708 101' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M-0.00135422 11.8054C-0.00135422 9.62855 -1.76607 7.86383 -3.94296 7.86383L-3.94296 7.86383C-6.11985 7.86383 -7.88457 9.62855 -7.88457 11.8054L-7.88457 33.1894C-7.88457 39.1705 -11.8262 44.8877 -11.8262 50.8688L-11.8262 50.8688L-11.8262 50.8688C-11.8262 56.8499 -7.88457 62.5671 -7.88457 68.5482L-7.88457 93.6181C-7.88457 95.795 -6.11985 97.5597 -3.94296 97.5597L-3.94296 97.5597C-1.76607 97.5597 -0.00135422 95.795 -0.00135422 93.6181L-0.00135422 79.7434C-0.00135422 69.9038 11.8235 60.7084 11.8235 50.8688L11.8235 50.8688C11.8235 50.1882 11.7577 49.522 11.6319 48.8754C9.94631 40.2162 -0.00135422 32.6589 -0.00135422 23.8371L-0.00135422 11.8054Z' fill='rgba(123, 87, 224, 1)' fill-rule='evenodd' /%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 20px;
      }

      &.active,
      &:hover {
        background-color: var(--unit-bg2);

        .icon svg {
          color: var(--highlight-primary);
        }
      }

      .icon {
        width: 24px;
        height: 24px;

        svg {
          display: block;
          width: 100%;
          height: 100%;
          color: var(--menu-item);
        }
      }

      .title {
        width: 137px;
        padding: 0 10px;
        font-size: 16px;
        line-height: 100%;
        flex: 1;
        overflow: hidden;
        transition: width, padding .5s ease-in-out;
        color: var(--menu-item);
      }

      .badge-block {
        width: 24px;
        height: 24px;
        transition: width .5s ease-in-out;
        overflow: hidden;

        .badge {
          display: block;
          width: 24px;
          height: 24px;
          border-radius: 50%;
          text-align: center;
          font-family: "Inter", sans-serif;
          font-size: 12px;
          line-height: 24px;
          color: rgba(255, 255, 255, 1);
          background: var(--additional);
        }
      }
    }
  }
}

.grid.min {
  .sidebar {
    .minimized {
      transform: rotate(-180deg);
    }

    .side-header .logo {
      width: 0;
    }

    .menu .menu-item {
      padding: 15px 28px;

      .title {
        width: 0;
        padding: 0;
      }

      .badge-block {
        width: 0;
      }
    }
  }
}