.light {
  --light-bg: rgba(241, 243, 244, 1);
  --unit-bg: rgba(255, 255, 255, 1);
  --highlight-primary: rgba(123, 87, 224, 1);
  --base-primary: rgba(43, 46, 72, 1);
  --base-secondary: rgba(125, 125, 125, 1);
  --error: rgba(199, 16, 38, 1);
  --success: rgba(11, 138, 0, 1);
  --btn-bg: rgba(230, 229, 249, 1);
  --origin-color: rgba(0, 0, 0, 1);
  --menu-item: rgba(43, 46, 72, 1);
  --unit-bg2: rgba(243, 242, 252, 1);
  --additional: rgba(249, 131, 124, 1);
  --search-border: rgba(220, 220, 221, 1);
  --search-bg: rgba(255, 255, 255, 1);
  --search-icon: rgba(125, 125, 125, 1);
  --avatar-shadow: rgba(230, 229, 249, 1);
  --chip-success: rgba(11, 138, 0, 0.15);
  --chip-error: rgba(199, 16, 38, 0.15);
  --light-green: rgba(80, 192, 153, 1);
  --light-blue: rgba(93, 170, 238, 1);
  --light-yellow: rgba(255, 197, 101, 1);
  --select: rgba(241, 243, 244, 1);
  --select-text: rgba(43, 46, 72, 1);
  --is-tooday: rgba(43, 46, 72, 1);
  --is-tooday-text: rgba(255, 255, 255, 1);
  --btn-border: rgba(220, 220, 221, 1);
  --scroll-bar: rgb(166, 166, 166);
}

.dark {
  --light-bg: rgba(13, 15, 17, 1);
  --unit-bg: rgba(25, 29, 35, 1);
  --highlight-primary: rgba(123, 87, 224, 1);
  --base-primary: rgba(227, 227, 227, 1);
  --base-secondary: rgba(184, 192, 204, 1);
  --error: rgba(245, 59, 48, 1);
  --success: rgba(42, 163, 31, 1);
  --btn-bg: rgba(25, 29, 35, 1);
  --origin-color: rgba(255, 255, 255, 1);
  --menu-item: rgba(184, 192, 204, 1);
  --unit-bg2: rgba(38, 44, 54, 1);
  --additional: rgba(249, 131, 124, 1);
  --search-border: rgba(38, 44, 54, 1);
  --search-bg: rgba(38, 44, 54, 1);
  --search-icon: rgba(87, 103, 118, 1);
  --avatar-shadow: rgba(184, 192, 204, 1);
  --chip-success: rgba(42, 163, 31, 0.15);
  --chip-error: rgba(245, 59, 48, 0.15);
  --light-green: rgba(71, 167, 133, 1);
  --light-blue: rgba(83, 149, 207, 1);
  --light-yellow: rgba(239, 176, 71, 1);
  --select: rgba(38, 44, 54, 1);
  --select-text: rgba(184, 192, 204, 1);
  --is-tooday: rgba(38, 44, 54, 1);
  --is-tooday-text: rgba(227, 227, 227, 1);
  --btn-border: rgba(87, 103, 118, 1);
  --scroll-bar: rgb(85, 85, 85);
}